JUCE_plugin/Builds
JUCE_plugin/JuceLibraryCode
Festivalle21/.vs
Festivalle21/.vscode
py/venv
.vs
.vscode
py/frugally-deep
py/.vscode
py/notebook/audiofiles
py/notebook/labelled_data
venv
.idea
py/notebook