JUCE_plugin/Builds
JUCE_plugin/JuceLibraryCode
JUCE_plugin/.vs
JUCE_plugin/.vscode
py/venv
.vs
.vscode
py/frugally-deep
py/.vscode
py/notebook/audiofiles
py/notebook/labelled_data
venv
.idea
py/notebook